
@model List<userModel>

<form asp-action="Delete">  

    <h3>Enter Id to Delete Data</h3>
     <input name="Id" type= "text" placeholder="Id"/><br /><br />
     <input type="submit" value="Delete"/>

</form>