
@model List<userModel>

<form asp-action="UpdateData">  
     <input id="uid" name="Id" type= "number"  placeholder="Id"/><br /><br />
     <input name="Name" type="text" placeholder="Name"/>
     <input name="Age" type="number" placeholder="Age"/><hr />
       <input type="submit"/>
 
</form>
 